streamlit==1.28.0
whisper @ https://github.com/openai/whisper/archive/refs/tags/v20230314.zip
torch>=2.0.0
torchaudio>=2.0.2
transformers==4.42.0
gTTS==2.3.2
fpdf==1.7.2
numpy==1.26.5
pandas==2.1.1
soundfile==0.12.1
